<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- bootstarp -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <form id="imgFrom" method="post">
        {% csrf_token %}
        <label for="txt">Text:</label>
        <br>
        <input type="text" name="txt">
        <br>
        <br>
        <label for="description">Description</label>
        <br>
        <textarea name="description" rows="8" cols="80"></textarea>
        <br>
        <label for="img1">Image1</label>
        <br>
        <input id="img1" type="file" name="img1" accept="image/*" />
        <br>
        <button id="plus" type="button" onclick="myFunction()" name="button">Plus</button>
        <br>
        <br>
        <input type="submit" name="submit" value="Submit">
      </form>
    </div>

    <script>

      function myFunction() {
        var input = document.createElement("input");
        input.type = "file";
        input.name = "user_name";
        input.id = "user_name1";
        input.accept = "image/*";

        var form = document.getElementById("imgFrom");
        var plusBTN = document.getElementById("plus");
        form.insertBefore (input,plusBTN);

        var label = document.createElement('p');
        label.innerHTML = "Image2";
        form.insertBefore(label,input);

        var br = document.createElement('br');
        form.insertBefore(br,plusBTN);

      }
    </script>

  </body>
</html>
